[package]
name = "cargo-generate"
description = "cargo, make me a project"
version = "0.13.0"
authors = [
    "Ashley Williams <ashley666ashley@gmail.com>"
]
license = "MIT/Apache-2.0"
repository = "https://github.com/cargo-generate/cargo-generate"
edition = "2021"
include = ["src/**/*", "LICENSE-*", "*.md"]

[dependencies]
console = "0.15"
dialoguer = "0.10"
dirs = "4.0"
indicatif = "0.16"
git2 = "0.14.2"
libgit2-sys = "0.13"
tempfile = "3.3"
regex = "1.5"
heck = "0.4"
liquid = "0.24"
liquid-core = "0.24"
liquid-lib = "0.26"
liquid-derive = "0.24"
walkdir = "2.3"
remove_dir_all = "0.7"
ignore = "0.4"
url = "2.2"
structopt = "0.3"
anyhow = "1.0"
toml = "0.5"
thiserror = "1.0"
home = "0.5"
sanitize-filename = "0.3"
rhai = "1.6"
path-absolutize = "3.0"
git-config = "0.1.11"

[dependencies.openssl]
version = "0.10"
optional = true

[dependencies.semver]
version = "1.0"
features = ["serde"]

[dependencies.serde]
version = "1.0"
features = ["derive"]

[dev-dependencies]
predicates = "2.1"
assert_cmd = "2.0"
indoc = "1.0"

[dev-dependencies.cargo-husky]
version = "1"
default-features = false
features = ["prepush-hook", "run-cargo-test", "run-cargo-clippy", "run-cargo-fmt"]

[features]
vendored-openssl = ['openssl/vendored']

[[bin]]
path = "src/main.rs"
name = "cargo-generate"

[profile.release]
lto = true
