[package]
name = "cargo-generate"
description = "cargo, make me a project"
version = "0.11.1"
authors = [
    "Ashley Williams <ashley666ashley@gmail.com>"
]
license = "MIT/Apache-2.0"
repository = "https://github.com/cargo-generate/cargo-generate"
edition = "2021"
include = ["src/**/*", "LICENSE-*", "*.md"]

[dependencies]
console = "0.15.0"
dialoguer = "0.9.0"
dirs = "4.0.0"
indicatif = "0.16.2"
git2 = "0.13"
libgit2-sys = "0.12"
tempfile = "3.2.0"
regex = "1.5.4"
heck = "0.3.3"
liquid = "0.23.0"
liquid-core = "0.23.0"
liquid-lib = "0.23.0"
liquid-derive = "0.23.1"
walkdir = "2.3.2"
remove_dir_all = "0.7.0"
ignore = "0.4.18"
url = "2.2.2"
structopt = "0.3.25"
anyhow = "1.0.51"
toml = "0.5.8"
thiserror = "1.0.29"
home = "0.5.3"
sanitize-filename = "0.3"
rhai = "1.2.1"
path-absolutize = "3.0"

[dependencies.openssl]
version = "0.10"
optional = true

[dependencies.semver]
version = "1.0"
features = ["serde"]

[dependencies.serde]
version = "1.0"
features = ["derive"]

[dev-dependencies]
predicates = "2.1"
assert_cmd = "2.0"
indoc = "1.0"

[features]
vendored-openssl = ['openssl/vendored']

[[bin]]
path = "src/main.rs"
name = "cargo-generate"

[profile.release]
lto = true
