[package]
name = "cargo-generate"
description = "cargo, make me a project"
version = "0.5.2"
authors = [
    "Ashley Williams <ashley666ashley@gmail.com>"
]
license = "MIT/Apache-2.0"
repository = "https://github.com/cargo-generate/cargo-generate"
edition = "2018"
include = ["src/**/*", "LICENSE-*", "*.md"]

[dependencies]
cargo = "0.50.0"
console = "0.14.0"
dialoguer = "0.7.1"
indicatif = "0.15.0"
git2 = "0.13.17"
tempfile = "3.2.0"
regex = "1.4.3"
heck = "0.3.1"
liquid = "0.21.5"
liquid-core = "0.21.2"
liquid-lib = "0.21.1"
liquid-derive = "0.21.0"
walkdir = "2.3.1"
remove_dir_all = "0.6.1"
ignore = "0.4.17"
url = "2.2.0"
structopt = "0.3.21"
anyhow = "1.0.38"
toml = "0.5.8"

[dependencies.openssl]
version = "0.10.32"
optional = true

[dependencies.serde]
# same version as cargo's version
version = "1.0.82"
features = ["derive"]


[dev-dependencies]
predicates = "1.0.7"
assert_cmd = "1.0.2"

[features]
vendored-openssl = ['openssl/vendored']

[[bin]]
path = "src/main.rs"
name = "cargo-generate"
