[package]
name = "cargo-generate"
description = "cargo, make me a project"
version = "0.15.2"
authors = ["Ashley Williams <ashley666ashley@gmail.com>"]
license = "MIT/Apache-2.0"
repository = "https://github.com/cargo-generate/cargo-generate"
edition = "2021"
include = ["src/**/*", "LICENSE-*", "*.md"]

[dependencies]
clap = { version = "3.2", features = ["derive", "std"], default-features = false }
git2 = { version = "0.14", features = ["ssh", "https", "vendored-libgit2", "vendored-openssl"], default-features = false }
console = "0.15"
dialoguer = "0.10"
dirs = "4.0"
indicatif = "0.16"
tempfile = "3.3"
regex = "1.5"
heck = "0.4"
walkdir = "2.3"
remove_dir_all = "0.7"
ignore = "0.4"
anyhow = "1.0"
toml = "0.5"
thiserror = "1.0"
home = "0.5"
sanitize-filename = "0.4"
rhai = "1.8"
path-absolutize = "3.0"
git-config = "0.5.0"
paste = "1.0"

# liquid
liquid = "0.26"
liquid-core = "0.26"
liquid-lib = "0.26"
liquid-derive = "0.26"

[dependencies.openssl]
version = "0.10"
optional = true

[dependencies.semver]
version = "1.0"
features = ["serde"]

[dependencies.serde]
version = "1.0"
features = ["derive"]

[dev-dependencies]
predicates = "2.1"
assert_cmd = "2.0"
indoc = "1.0"
url = "2.2"

[dev-dependencies.cargo-husky]
version = "1"
default-features = false
features = [
  "prepush-hook",
  "run-cargo-test",
  "run-cargo-clippy",
  "run-cargo-fmt",
]

[features]
vendored-openssl = ['openssl/vendored']

[[bin]]
path = "src/main.rs"
name = "cargo-generate"

[profile.release]
lto = true
