[package]
name = "cargo-generate"
description = "cargo, make me a project"
version = "0.0.0"
authors = ["Ashley Williams <ashley666ashley@gmail.com>"]
license = "MIT/Apache-2.0"
repository = "https://github.com/ashleygwilliams/cargo-generate"
readme = "README.md"

[dependencies]
dialoguer = "0.1.0"
indicatif = "0.9.0"
quicli = "0.3.0"
git2 = "0.7.1"
tempfile = "3.0.2"
regex = "1.0.0"
ident_case = "1.0.0"
liquid = "0.14.3"
walkdir = "2.1.4"

[dev-dependencies]
assert_cli = "0.6.1"
tempfile = "3.0.2"
