[package]
name = "cargo-generate"
description = "cargo, make me a project"
version = "0.18.3"
authors = ["Ashley Williams <ashley666ashley@gmail.com>"]
license = "MIT/Apache-2.0"
repository = "https://github.com/cargo-generate/cargo-generate"
edition = "2021"
include = ["src/**/*", "LICENSE-*", "*.md"]

[dependencies]
clap = { version = "~4.2", features = ["derive", "std", "help"], default-features = false }
git2 = { version = "~0.17", features = ["ssh", "https"], default-features = false }
console = "~0.15"
dialoguer = "~0.10"
indicatif = "~0.17"
tempfile = "~3.5"
regex = "~1.8"
heck = "~0.4"
walkdir = "~2.3"
remove_dir_all = "~0.8"
ignore = "~0.4"
anyhow = "~1.0"
toml = "~0.7"
thiserror = "~1.0"
home = "~0.5"
sanitize-filename = "~0.4"
rhai = "~1.15"
path-absolutize = "~3.0"
gix-config = "0.20"
paste = "~1.0"
names = { version = "~0.14", default-features = false }
log = "~0.4"
env_logger = "~0.10"

# liquid
liquid = "~0.26"
liquid-core = "~0.26"
liquid-lib = "~0.26"
liquid-derive = "~0.26"

[dependencies.openssl]
version = "~0.10"
optional = true

[dependencies.semver]
version = "~1.0"
features = ["serde"]

[dependencies.serde]
version = "~1.0"
features = ["derive"]

[dev-dependencies]
predicates = "~3.0"
assert_cmd = "~2.0"
indoc = "~2.0"
url = "~2.3"
bstr = "~1.4"

[dev-dependencies.cargo-husky]
version = "~1.5"
default-features = false
features = [
  "prepush-hook",
  "run-cargo-test",
  "run-cargo-clippy",
  "run-cargo-fmt",
]

[features]
default = ["vendored-libgit2"]
vendored-libgit2 = ["git2/vendored-libgit2"]
vendored-openssl = ["openssl/vendored", "git2/vendored-openssl"]

[[bin]]
path = "src/main.rs"
name = "cargo-generate"

[profile.release]
lto = true
